.DS_Store
**/.DS_Store
.claude
.git
*.zip
build_page.py
page_template.html
guide_content.py
__pycache__
**/certs
**/.venv
**/target
**/bin
**/obj
**/out
**/classpath.txt
openshift
Dockerfile
.dockerignore
